
html{
    font-family: 'Tulpen One', cursive;
    font-size: 16px;
    background-color: aqua;
    color: black;
}

html{
    scroll-behavior: smooth;
    font-size: 32px;
}
iframe{
    max-width: 100%;   
}

img{
    max-width: 100%;
}
table{
    width: 100%;
}